.footer {
  background-color: #0a2850;
  position: relative;
  padding: 60px 80px 60px;
  overflow: hidden;
  z-index: 0;
}

.footer__circle {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: -1;
  position: absolute;
  top: -128px;
  left: -44px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link:focus {
  color: #c1c1c1;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.footer__copyright {
  margin-top: 108px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
