.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-top: 8px;
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}

.form__button {
  border-radius: 4px;
  background-color: #2f80ed;
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background-color: #2f80ed;
  background-image: url("/images/check.svg");
}

.agreement {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
