.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  margin-left: -30px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0px;
}

.nav__link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #2f80ed;
}
