.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /*centraliza o bloco removendo as margens superiores e inferiores e dividindo automaticamente o espaçoç horizontal disponível entre as margens esquerda e direita*/
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
